/* Navigation menu styles */
.navbar {
    background-color: #1E71EE;
    color: #1E71EE;
    text-align: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.navbar a:hover {
    background-color: #555;
}


.signin-form-movement{
    width: 100%;
    height: 100%;
    padding: 73px;
    box-sizing: border-box;
}

.form-control::placeholder
{
    font-family: 'Bebas Neue', sans-serif;
}

.element {
    margin: 0;
    padding: 0;
}


/* Heading styles */
h1 {
    font-size: 24px;
    color: #333;
}

h2 {
    font-size: 20px;
    color: #FFF;
}

/* Text styles */
p {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
    font-family: 'Bebas Neue', sans-serif;

}

/* Link styles */
a {
    color: #FFF;
    text-decoration: underline;
    font-family: 'Bebas Neue', sans-serif;
}

a:hover {
    color: darkgray;
    text-decoration: underline;
}

.brand-name{
    color : #FF6C37;
    font-family: 'Bebas Neue', sans-serif;
    text-shadow:
            -1px -1px 0 #fff, /* Top-left shadow */
            1px -1px 0 #fff,  /* Top-right shadow */
            -1px 1px 0 #fff,  /* Bottom-left shadow */
            1px 1px 0 #fff;   /* Bottom-right shadow */
}

/* Buttons */
.custom-button {
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    color: #FFFF;
    background-color: #FF6C37;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.custom-button:hover{
    background-color: #FA4705;
}

.pageStyle {
    background-color: #1E71EE;
}
